:root {
  --primary-color: #698269;
  --secondary-color: #f1dbbf;
  --third-color: #aa5656;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 100px 0;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 43px;
}

h3 {
  font-size: 30px;
  opacity: 0.7;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.navbar {
  padding: 0;
}

.home {
  background-image: url("../images/backgrounds/homepage-background-image.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a,
.learn-more-link {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.about-link,
.contact-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.about-link:hover,
.contact-link:hover {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
  transition: all 100ms ease-in-out;
}

.learn-more-link {
  color: white;
  background-color: var(--primary-color);
}

.learn-more-link:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  transition: all 100ms ease-in-out;
}

.homepage-h2 {
  font-size: 40px;
}

.homepage-h2,
.about-page-h2,
.contact-page-heading,
.work-page-heading {
  text-shadow: 3px 7px 6px rgba(255, 255, 255, 0.3);
}

.about {
  background-image: url("../images/backgrounds/about-page-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.about-paragraph {
  margin: 30px 10px;
  padding: 15px;
  border-radius: 20px;
  background-color: rgb(105, 130, 105, 0.6);
}

.about-paragraph p {
  margin: 10px;
  padding-bottom: 15px;
}

.certificates,
.work-page-container img {
  filter: saturate(0%) brightness(90%) contrast(110%);
}

.certificates:hover {
  filter: saturate(100%);
  transition: all 2000ms ease-in-out;
}

.cert1:hover,
.cert2:hover,
.cert3:hover,
.cert4:hover,
.cert5:hover,
.cert6:hover {
  transform: scale(2.5, 2.5);
  transition: all 2000ms ease-in-out;
}

.work-page-body {
  background-image: url("../images/backgrounds/work-page-background.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.work-page-container img {
  padding: 5px;
  background-color: var(--secondary-color);
  width: 450px;
}

.work-page-container img:hover {
  filter: saturate(100%);
  transition: all 450ms ease-in-out;
}

a.launch-link {
  color: white;
  background: var(--primary-color);
  border-radius: 4px;
  padding: 15px 10px;
  text-decoration: none;
}

a.launch-link:hover {
  color: var(--primary-color);
  background: var(--secondary-color);
  transition: all 200ms ease-in-out;
}

.contact-page-body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/backgrounds/contact-page-background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 70px 0px;
}

.contact-page-image {
  height: 300px;
  filter: saturate(80%);
}

.contact-paragraph {
  line-height: 70px;
}

.contact-paragraph a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 21px;
}

.contact-paragraph a:hover {
  font-size: 22px;
  padding-left: 5px;
  transition: all 450ms ease-in-out;
}

footer {
  margin: 60px 0;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

footer p {
  font-size: 8px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 45px;
    line-height: 1.5;
  }

  h2 {
    text-align: center;
  }

  h3 {
    font-size: 26px;
  }

  p {
    text-align: center;
  }

  .home {
    background-position: 35%;
  }

  .primary-button {
    display: block;
    text-align: center;
    margin: 0 15px;
  }

  a.learn-more-link,
  a.launch-links {
    padding: 10px 5px;
  }

  .about {
    background-position: 50%;
  }

  .work-page-heading {
    font-size: 35px;
    margin-bottom: 50px;
  }

  .work-page-container h2 {
    font-size: 32px;
  }

  .contact-page-body {
    background-position: 60%;
  }

  .contact-heading {
    font-size: 30px;
  }

  .contact-page-image {
    display: block;
    margin: 0 auto;
  }

  .contact-paragraph {
    margin-top: 30px;
  }

  .email-link {
    font-size: 20px;
  }
}
